/* REGOLE DI DEBUG */

nav ul {
  display: inline-block;
}

.cristo {
  background-color: orange;
  width: 90%;
  border: 1px solid black;
  min-height: 100px;
}

.cristino {
  background-color: green;
  width: 70px;
  border: 1px solid black;
}

/* FINE REGOLE DI DEBUG */

/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bastaspazi {
  padding: 0;
  margin: 0;
}

h1, .pb {
  color: white;
}

h2 {
  margin: 0;
  font-size: 38px;
  color: #00004d;
  font-weight: bold;
}

.h2g {
  color: #62616d
}

.hb {
  color: white;
}

h4 {
  color: #00004d;
}

p {
  font-size: 23px;
  color: #595959;
}

a {
  color: #0069ff;
  font-weight: bold;
}

#bottone2 {
  font-weight: bold;
  border: 1px solid #0069ff;
  padding: 5px 10px;
  border-radius: 5%
}

#bottone3 {
  background-color: white;
  padding: 8px 8px;
  border-radius: 6%;
  text-decoration: none;
  font-weight: bold;
}

.grigio {
  background-color: #f3f5f9;
}

.imaginine {
  width: 180px;
  height: auto;
  padding-left: 50px;
}

.business {
  color: gray;
}

.blu {
  background-image: url(../img/striscino.png);
}

/* header */
/* nav */

nav {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 50px;
  background-color: white;
  width: 100%;
}

nav li {
  display: inline-block;
}

/* jumbotron */

.jumbo {
  background-image: url(../img/sfondino.jpg);
  padding-top: 50px;
}

/* login */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.btn-white {
  background-color: white;
  color: #595959;
}


/* prefooter */

.prefooter {
  height: 150px;
}

/* footer */

footer {
  background-color: #010e28;
}

footer li {
  color: lightgray;
}
