/* REGOLE DI DEBUG */

nav ul {
  display: inline-block;
}

.cristo {
  background-color: orange;
  width: 90px;
  border: 1px solid black;
}

.cristo, .blu {
  height: 100px;
}

/* FINE REGOLE DI DEBUG */

/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bastaspazi {
  padding: 0;
  margin: 0;
}

h1, .pb {
  color: white;
}

h2 {
  margin: 0;
  font-size: 38px;
  color: #00004d;
  font-weight: bold;
}

.h2g {
  color: #62616d
}

.hb {
  color: white;
}

h4 {
  color: #00004d;
}

p {
  font-size: 23px;
  color: #595959;
}

a {
  color: #0069ff;
  font-weight: bold;
}

#bottone2 {
  font-weight: bold;
  border: 1px solid #0069ff;
  padding: 5px 10px;
  border-radius: 5%
}

#bottone3 {
  background-color: white;
  padding: 8px 8px;
  border-radius: 6%;
  text-decoration: none;
  font-weight: bold;
}

.grigio {
  background-color: #f3f5f9;
}

.imaginine {
  width: 180px;
  height: auto;
  padding-left: 50px;
}

.business {
  color: gray;
}

.blu {
  background-image: url(../img/striscino.png);
}

/* header */
/* nav */

nav {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 50px;
  background-color: white;
  width: 100%;
}

nav li {
  display: inline-block;
}

/* jumbotron */

.jumbo {
  height: 430px;
  background-image: url(../img/sfondino.jpg);
  padding-top: 50px;
}

/* footer */

footer {
  background-color: #010e28;
}

footer li {
  color: lightgray;
}
